@model IEnumerable<WebApplication2.Models.NightMarket> //套用的模組路徑

@*
<!--原始版型，較不好看-->

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DCT夜市通</title>
</head>
<body>
    <h3>台中市知名夜市</h3>
    <hr />
    <table border="0" cellspacing="0" cellpadding="10">
        <tr bgcolor="#a6b141" align="center">
            <th>編號</th>
            <th>名稱</th>
            <th>地址</th>
            <th></th>
        </tr>
        @{
            int i = 0;
            string imgName, colorStyle;
        }
        @foreach (var item in Model)
        {
            imgName = item.Id + ".jpg";
            if (i % 2 == 0)
            {
                colorStyle = "aliceblue";
            }
            else
            {
                colorStyle = "#edf8cf";
            }
            i++;
            <tr align="center" bgcolor="@colorStyle">
                <td>@item.Id</td>
                <td>
                    @item.Name<br />
                    <img src="~/Images/@imgName" width="150" /> <!--用"~"而非"..."，因為上傳雲端後會抓不到路徑所以用"~"-->
                </td>
                <td>@item.Address</td>
                <td>
                    <a href="https://www.google.com.tw/maps/place/@item.Address"
                   target="_blank">路徑規劃</a>
                </td>
            </tr>
        }
    </table>
</body>
</html>

*@

<!--修改好看的版型-->

@{
    ViewBag.Title = "DCT夜市通";
}

<h2>台中市知名夜市</h2>

<table class="table">
    <tr>
        <th>編號</th>
        <th>名稱</th>
        <th>地址</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        string imgName = item.Id + ".jpg";
        <tr>
            <td>@item.Id</td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)<br />
                <img src="~/Images/@imgName" width="150" class=" img-thumbnail" /> <!--用"~"而非"..."，因為上傳雲端後會抓不到路徑所以用"~"-->
            </td>
            <td>@Html.DisplayFor(modelitem => item.Address)</td>
            <td>
                <a href="https://www.google.com.tw/maps/place/@item.Address"
                class="btn btn-info">路徑規劃</a>
            </td>
        </tr>
    }
</table>